.header__lang-links {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-column-gap: 18px;
    justify-self: end;
    padding: 0;
    margin: 0;
    list-style-type: none;
}